.ant-card-meta-title{
    color: #83793e !important;
}

.ant-card-meta-description{
    color: #83793e !important;
}

.ant-card-actions{
    background-color: #EAEAEA !important;
}

.ant-card-actions li{
    color: #ad974f !important;
}